:root {

  --iron-icon-width: var(--icon-size, 16px);

}

:host {
  @apply(--typography);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 16px;
  height: var(--tool-size);
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

:host([disabled]) {
  color: var(--grey);
  cursor: default;
  pointer-events: none;
}

/* Force the hidden attribute */
.icon[hidden] {
  display: none !important;
}
