:root {

  --iron-icon-width: var(--icon-size, 16px);

  --iron-icon-height: var(--icon-size, 16px);

}

:host {
  @apply(--typography);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: inherit;
  font-weight: inherit;
  height: var(--tool-size);
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

:host([disabled]),
:host([busy]) {
  cursor: default;
  pointer-events: none;
}

/* Force the hidden attribute */
.icon[hidden] {
  display: none !important;
}
